@font-face {
	font-family: Helvetica;
	font-style: Arial;
}

a {
	color: rgb(222, 169, 0);
	border-bottom: solid 1px rgba(222, 169, 0, 0.6);
	text-decoration: none;
}

a:hover {
	border-bottom-color: rgba(222, 169, 0, 0.9);
}

body {
	color: black;
	margin: 0px;
	border: 0px;
	padding: 0px;
	background: black;
	font-family: Verdana
}

.table {
	border-collapse: collapse;
	border-spacing: 0;
}

table td,table th {
	padding: 0; /* 'cellpadding' equivalent */
}

/*

*
*
*
*
*
*
*

*/
.top_panel_back {
	background: rgba(222, 169, 0, 1);
	background-image: url('fond.png');
}

.top_panel_front {
	position: relative;
	padding: 15px;
	height: 78px;
	font-size: 19px;
	color: #DDD;
	/* Anciens navigateurs */
	background: url("gradient-bg.png") repeat-y left;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	/* Navigateurs récents */
	background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 1)
		), to(rgba(0, 0, 0, 0.96) ) );
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0.96) );
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0.96) );
	background: -o-linear-gradient(left, rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0.96) );
	background: linear-gradient(left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.96)
		);
}

.top_panel_logo {
	position: absolute;
	background-image: url('logo.png');
	width: 250px;
	height: 80px;
	padding: 15px;
}
.top_panel_logo a{
	border-bottom: none;
}

.top_panel_logo a {
	height: 100%;
	width: 100%;
	display: block;
}

.menu_panel {
	padding: 0px;
	padding-top: 2px;
	padding-left: 70px;
	height: 32px;
	font-size: 14px;
	color: #DDD;
	background: #444;
}

.sub_menu_panel {
	background: #444;
	height: 600px;
}

.left_menu_panel {
	width: 53px;
	height: 545px;
	margin: 0px;
	padding-top: 25px;
}

.menu_item {
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 6px;
}

.menu_item:hover {
	background: rgba(0, 0, 0, 0.15);
	color: rgba(222, 169, 0, 1);
}

.left_menu_item {
	border: 1px solid rgba(222, 169, 0, 1);
	border-radius: 5px;
	width: 25px;
	height: 25px;
	margin: auto;
	margin-top: 5px;
	padding: 2px;
	color: rgba(222, 169, 0, 1);
}

.left_menu_item:hover {
	background: rgba(222, 169, 0, 1);
	color: black;
}

.middle_panel_back {
	border-radius: 10px 0px 0px 0px;
	background: white;
	background-image: url('fond.png');
}

.middle_panel_front {
	height: 570px;
	border-radius: 10px 0px 0px 0px;
	/* Anciens navigateurs */
	background: url("gradient-bg.png") repeat-y left;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	/* Navigateurs récents */
	background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255,
		0.73) ), to(rgba(255, 255, 255, 1) ) );
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.73),
		rgba(255, 255, 255, 1) );
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.73),
		rgba(255, 255, 255, 1) );
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0.73),
		rgba(255, 255, 255, 1) );
	background: linear-gradient(left, rgba(255, 255, 255, 0.73),
		rgba(255, 255, 255, 1) );
}

.middle_panel_gauche {
	padding: 13px;
	margin: 13px;
	border: 1px solid rgba(222, 169, 0, 1);
	border-radius: 8px;
	width: 500px;
	height: 518px;
	background: rgba(255, 255, 255, 0.75);
}

.middle_panel_droite {
	padding: 13px;
	margin: 13px;
	margin-left: 0px;
	border: 1px solid rgba(222, 169, 0, 1);
	border-radius: 8px;
	width: 500px;
	height: 518px;
	background: rgba(255, 255, 255, 0.63);
}

.copyrights {
	width: 450px;
	text-align: center;
	margin: auto;
	color: rgba(222, 169, 0, 0.65);
	font-size: 9px;
}