/*
	#f2f1d5
	#d8cdba
	#bf9764
	#8c5f36
	#593a1e
	#3a1f05
	#261607
*/
body {
	background-color: #bf9764;
	color: #3a1f05;
	margin: 0px;
	font-family: Helvetica;
	font-style: Arial;
}

.top_panel {
	position: relative;
	padding: 25px 0px 0px 40px;
	height: 97px;
	font-size: 19px;
}

.top_panel_logo {
	position: absolute;
	background-image: url('logo.png');
	width: 253px;
	height: 77px;
	padding: 15px;
}

.top_panel_logo a {
	height: 100%;
	width: 100%;
	display: block;
}

.menu_panel {
	padding: 0px;
	padding-top: 6px;
	padding-left: 120px;
	height: 28px;
	background: #d8cdba;
}

.app_panel {
	background: white;
	font-size: 12px;
	height: 600px;
	overflow: auto;
	padding-left: 15px;
}

.copyrights {
	padding-top: 10px;
	width: 450px;
	text-align: center;
	margin: auto;
	font-size: 9px;
}

.copyrights a {
	text-decoration: none;
	font-weight: bold;
	color: #261607;
}

.copyrights a:hover {
	text-decoration: underline;
}

.java_motR{
	color: #950055;
}
.java_string{
	color: #0000c0;
}

.leftPadding{
	padding-left: 7px;
}
.rightPadding{
	padding-right: 7px;
}
